@page "/books"
<h3>Book</h3>
@using OnlineLibrary.Data
@inject Data.LearningServices learningService
@if (Books == null)
{
    <p><em>Loading..</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>BookID</th>
                <th>BookName</th>
                <th>Pagecount</th>
                <th>Author</th>
                <th>BookGenre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
            <tr>
                <td>@book.BookID</td>
                <td>@book.BookName</td>
                <td>@book.Pagecount</td>
                <td>@book.Author</td>
                <td>@book.BookGenre</td>
            </tr>
            }
        </tbody>
    </table>

}
@code {
    List<Data.Book> Books = new List<Data.Book>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshBooks();
    }
    private async Task RefreshBooks()
    {
        Books = await learningService.GetBooksAsync();
    }

}
