@page "/OnlineAccess/Add/"
@inject NavigationManager NavigationManager;
@inject Data.OnlineAccessService OnlineAccessService

<h3>Add OnlineAccess</h3>

<div>
    <hr />
    <EditForm Model="@_onlineAccess" OnValidSubmit="@HandleValidSubmit">

        <dl class="row">

            <dt class="col-sm-2">
                Customer Id
            </dt>
            <dd class="col-sm-10">
                <InputNumber id="CustomerId" @bind-Value="_onlineAccess.CustomerId" /> <ValidationMessage For="@(() => _onlineAccess.CustomerId)" />
            </dd>

            <dt class="col-sm-2">
                Book Id
            </dt>
            <dd class="col-sm-10">
                <InputNumber id="BookId" @bind-Value="_onlineAccess.BookId" /> <ValidationMessage For="@(() => _onlineAccess.BookId)" />
            </dd>

            <dt class="col-sm-2">
                Valid From
            </dt>
            <dd class="col-sm-10">
                <InputDate id="ValidFrom" type="date" @bind-Value="_onlineAccess.ValidFrom" /> <ValidationMessage For="@(() => _onlineAccess.ValidFrom)" />
            </dd>

            <dt class="col-sm-2">
                Valid To
            </dt>
            <dd class="col-sm-10">
                <InputDate id="ValidTo" type="date" @bind-Value="_onlineAccess.ValidTo" /> <ValidationMessage For="@(() => _onlineAccess.ValidTo)" />
            </dd>

        </dl>

        <button type="submit" class="btn btn-success">Submit</button>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</div>

<div>
    <a href="/OnlineAccess/">Back to List</a>
</div>

@code {
    private Data.OnlineAccess _onlineAccess = new Data.OnlineAccess();

    private async Task HandleValidSubmit()
    {
        await OnlineAccessService.AddOnlineAccessAsync(_onlineAccess);

        NavigationManager.NavigateTo("/onlineAccess");
    }

}