@page "/OnlineAccess/Edit/{OnlineAccessId:int}"
    @inject NavigationManager NavigationManager;
    @inject Data.OnlineAccessService OnlineAccessService

    <h3>Edit OnlineAccess</h3>

    <div>
        <hr />
        @if (_onlineAccess == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (_onlineAccess.OnlineAccessId == 0)
        {
            <p>No Records Found.</p>
        }
        else
        {
            <EditForm Model="@_onlineAccess" OnValidSubmit="@HandleValidSubmit">

                <dl class="row">

                    <dt class="col-sm-2">
                        Online Access ID
                    </dt>
                    <dd class="col-sm-10">
                        @_onlineAccess.OnlineAccessId
                    </dd>

                    <dt class="col-sm-2">
                        Customer Id
                    </dt>
                    <dd class="col-sm-10">
                        <InputNumber id="CustomerId" @bind-Value="_onlineAccess.CustomerId" /> <ValidationMessage For="@(() => _onlineAccess.CustomerId)" />
                    </dd>

                    <dt class="col-sm-2">
                        Book Id
                    </dt>
                    <dd class="col-sm-10">
                        <InputNumber id="BookId" @bind-Value="_onlineAccess.BookId" /> <ValidationMessage For="@(() => _onlineAccess.BookId)" />
                    </dd>

                    <dt class="col-sm-2">
                        Valid From
                    </dt>
                    <dd class="col-sm-10">
                        <InputDate id="ValidFrom" type="date" @bind-Value="_onlineAccess.ValidFrom" /> <ValidationMessage For="@(() => _onlineAccess.ValidFrom)" />
                    </dd>

                    <dt class="col-sm-2">
                        Valid To
                    </dt>
                    <dd class="col-sm-10">
                        <InputDate id="ValidTo" type="date" @bind-Value="_onlineAccess.ValidTo" /> <ValidationMessage For="@(() => _onlineAccess.ValidTo)" />
                    </dd>

                </dl>

                <button type="submit" class="btn btn-success">Submit</button>
                <DataAnnotationsValidator />
                <ValidationSummary />
            </EditForm>
        }
    </div>

    <div>
        <a href="/OnlineAccess/View/@_onlineAccess.BookId">View</a> |
        <a href="/OnlineAccess/">Back to List</a>
    </div>

    @code {

        [Parameter]
        public int OnlineAccessId { get; set; }

        private Data.OnlineAccess _onlineAccess = new Data.OnlineAccess();

        protected override async Task OnInitializedAsync()
        {
            await RefreshOnlineAccess(OnlineAccessId);
        }

        private async Task RefreshOnlineAccess(int bookId)
        {
            _onlineAccess = await OnlineAccessService.GetOnlineAccessAsync(OnlineAccessId);
        }

        private async Task HandleValidSubmit()
        {
            await OnlineAccessService.UpdateOnlineAccessAsync(_onlineAccess);
            NavigationManager.NavigateTo($"/OnlineAccess/View/{OnlineAccessId}");
        }

    }
