
    @page "/OnlineAccess/View/{OnlineAccessId:int}"
    @inject Data.OnlineAccessService OnlineAccessService

    <h3>View OnlineAccess</h3>

    <div>
        <hr />
        @if (_onlineAccess == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (_onlineAccess.OnlineAccessId == 0)
        {
            <p>No Records Found.</p>
        }
        else
        {
            <dl class="row">

                <dt class="col-sm-2">
                    Online Access Id
                </dt>
                <dd class="col-sm-10">
                    @_onlineAccess.OnlineAccessId
                </dd>

                <dt class="col-sm-2">
                Customer Id
                </dt>
                <dd class="col-sm-10">
                    @_onlineAccess.CustomerId
                </dd>

                <dt class="col-sm-2">
                    Book Id
                </dt>
                <dd class="col-sm-10">
                    @_onlineAccess.BookId
                </dd>
                
                <dt class="col-sm-2">
                    Valid From
                </dt>
                <dd class="col-sm-10">
                    @_onlineAccess.ValidFrom
                </dd>
                
                <dt class="col-sm-2">
                    Valid To
                </dt>
                <dd class="col-sm-10">
                    @_onlineAccess.ValidTo
                </dd>




            </dl>
        }
    </div>

    <div>
        <a href="/OnlineAccess/Edit/@_onlineAccess.OnlineAccessId">Edit</a> | <a href="/Books/">Back to List</a>
    </div>

    @code {

        [Parameter]
        public int OnlineAccessId { get; set; }

        Data.OnlineAccess _onlineAccess = new Data.OnlineAccess();

        protected override async Task OnInitializedAsync()
        {
            await RefreshOnlineAccess(OnlineAccessId);
        }

        private async Task RefreshOnlineAccess(int accessId)
        {
            _onlineAccess = await OnlineAccessService.GetOnlineAccessAsync(OnlineAccessId);
        }
    }

